
.pop-up {
    width: 100%;
    height: 1996px;
    background: none;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    top: 0;
    left: 0;
    position: fixed;
    
}


.box-edicao {
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    margin-top: 4%;
    margin-right:3% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #e9e9e9;
}

.botao-popUp-perfil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 33%;
    background: none;
    border: none;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff774b, #ff4d4d);
}

.botao-popUp-perfil:hover {
    transform: scale(1.05);
}

.botao-duvida {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 34%;
    background: none;
    border: none;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff774b, #ff4d4d);
}

.botao-duvida:hover {
    transform: scale(1.05);
}

.botao-sair {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 33%;
    background: none;
    border: none;
    cursor: pointer;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #ff774b, #ff4d4d);
}

.botao-sair:hover {
    transform: scale(1.05);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff774b, #ff4d4d);
    ;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    width: 8px;
}
@media screen and (max-width: 624px) {
.p-botao-popUp-perfil,
.p-botao-duvida,
.p-botao-sair
 {
    display: none;
}
}
